<% title %>
<div class="row">
    <div class="small-12 columns">
        <h1>About QuickSearch</h1>
        <p>QuickSearch, developed by NCSU Libraries, is a customized federated search tool designed to connect people to a variety of library resources, services, and tools. QuickSearch is designed to complement and increase use of existing dedicated library resource discovery tools, such as the catalog, electronic resource search, and subject guides/portals, by directing people to them via an intuitive search interface. The aim of QuickSearch is to provide people with a quick and easy way to find the information they need.</p>
        <p>See the <a href="http://www.lib.ncsu.edu/dli/projects/quicksearch/">QuickSearch Project</a> for technical details.</p>
        <p>To provide feedback or to report a problem, please email the QuickSearch product team at <a href="mailto:quicksearch@lists.ncsu.edu">quicksearch@lists.ncsu.edu</a>.</p>
    </div>
</div>
