<footer class="footer">
  <div class="row full-width">
    <div class="small-12 medium-3 large-4 columns">
      <i class="fa fa-question fa-5x"></i>
      <p><%= t('footer.section_1_text') %></p>
    </div>
    <div class="small-12 medium-3 large-4 columns">
      <i class="fa fa-github fa-5x"></i>
      <p><%= t('footer.section_2_text') %></p>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4><%= t('footer.section_3_title') %></h4>
      <ul class="footer-links">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Flickr</a></li>
      <ul>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4><%= t('footer.section_4_title') %></h4>
      <ul class="footer-links">
        <li><a href="#">Library Homepage</a></li>
        <li><a href="#">Library Location 1</a></li>
        <li><a href="#">Library Location 2</a></li>
        <li><a href="#">Library Location 3</a></li>
        <li><a href="#">University Homepage</a></li>
      <ul>
    </div>
  </div>
</footer>
