@import "foundation";                       // Core Foundation SCSS
@import "font-awesome-sprockets";                     // FontAwesome
@import "font-awesome";                     // FontAwesome
@import "quick_search_generic_theme/header";
@import "quick_search_generic_theme/footer";
@import "quick_search_generic_theme/main";
